<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568468510515-l3i3f4249knrq501p04p58grmu70s6n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568468510515-l3i3f4249knrq501p04p58grmu70s6n2</string>
	<key>API_KEY</key>
	<string>AIzaSyB4xDswWdMSLfPCaCBOqHfC9fkuSCHBWho</string>
	<key>GCM_SENDER_ID</key>
	<string>568468510515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.maxward.AuthProject</string>
	<key>PROJECT_ID</key>
	<string>generalproject-f1938</string>
	<key>STORAGE_BUCKET</key>
	<string>generalproject-f1938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568468510515:ios:2f1035d823acf046eb1046</string>
</dict>
</plist>